    <nav>
     
    <div class="nav-wrapper z-depth-5 deep-purple darken-3">
      <span class="brand-logo">{{title}}</span>
      <div class="container">
      <div class="right">
          <a href="#" class="sidenav-trigger" data-target="mobile-links">
              <i class="material-icons">menu</i>
          </a>
      </div>
      <ul  class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
        <li><a href="/scraped"class="waves-effect waves-light btn deep-purple lighten-1">Scrape New Articles</a></li>
        <li><a href="/clear" class="waves-effect waves-light btn deep-purple lighten-1">Clear Articles</a></li>
        </ul>
      </div>
    </div>
    
  </nav>

<ul class="sidenav deep-purple lighten-1" id="mobile-links">
    <li><a href="/">Home</a></li>
    <li><a href="/saved">Saved Articles</a></li>
    <li><a class="waves-effect waves-light btn">Scrape New Articles</a></li>
    <li><a class="waves-effect waves-light btn">Clear Articles</a></li>
</ul>
<section class="headerimg">
    <div class="imgholder z-depth-3">
        <img class="responsive-img" src="./images/serpentes_tattoo_sheet.jpg" height="200">
        <div class="titleHolder overlay ">
        <h1 class="center-align black-text overlay">{{title}}</h1>
        </div>
    </div>
    
</section>


<section class="articles">
    <h2 class="headers center grey-text">Articles</h2>
    {{#each article}}
      <div class="container z-depth-5">
        <div class="row">
            <div class="col s12 center headline deep-purple darken-3 white-text">
             <a href={{this.link}} target="_blank"><img class="left responsive-img" src={{this.img}} ></a> 
             
                <h4 class="left-align">{{this.headline}}</h4>
            
            </div>
            <div class="white">
                <span class="black-text">{{this.blurb}}</span>
            </div>
            <div class="buttonHolder">
                <a data-target={{this.id}}  class="saveBtn waves-effect waves-light deep-purple darken-3 btn">Save Article</a>
            </div>
        </div>
    </div>
</section>
 {{/each}}

<footer class="footer deep-purple z-depth-2">
    <div class="row">
        <div class="col s12 center">
            <span class="center-align white-text">{{title}}</span>
        </div>
    </div>
</footer>